.logout {
  transition: box-shadow 300ms ease !important;
}
.logout:hover {
  background-color: white !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2) !important;
}
.register {
  text-decoration: underline !important;
  text-decoration-color:#6c757d !important;
}
